stages:
- test
- deploy
variables:
  DOCKLER_HOST: unix:///var/run/docker.sock
unit-test:
  stage: test
  script: docker compose run --rm unit-tests
  after_script: docker compose stop selenium website
deploy-to-netlify:
  stage: deploy
  image: node:16-alpine
  before_script: 
    - npm install -g netlify-cli
    - netlify deploy --prod --dir=website --auth=$NETLIFY_AUTH_TOKEN --site=34c6790d-b38a-4e66-9da3-ff2ee87e12f2
  script: netlify deploy --prod --dir=website
  only:
    - main